# Files to be ignored by Git

# Object files
*.o

# Dependencies
*.d

# Preprocessed files
*.i

# Generated assembly
*.asm

# Archives
*.a

# Output files
*.elf
*.map
*.srec

# All files in output directory, just in case
build/*
!build/.gitkeep

# KDS project files
.cproject
.project
.settings/*
